ingversions-accounting/workflows/01-employee-onboarding.json
{
  "name": "Employee Onboarding - Teams to Database",
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Teams Employee Form Trigger",
      "type": "n8n-nodes-base.webhook",
      "position": [200, 300],
      "parameters": {
        "path": "employee-onboarding-form",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Validate Form Data",
      "type": "n8n-nodes-base.code",
      "position": [400, 300],
      "parameters": {
        "jsCode": "// Validate employee onboarding form data\nconst formData = $input.first().json.body;\n\nconst required = ['employee_id', 'full_name', 'email', 'designation', 'date_of_joining', 'ctc_annual'];\nconst missing = required.filter(f => !formData[f]);\n\nif (missing.length > 0) {\n  return [{\n    json: {\n      success: false,\n      error: `Missing required fields: ${missing.join(', ')}`\n    }\n  }];\n}\n\n// Generate employee ID if not provided\nif (!formData.employee_id) {\n  const timestamp = Date.now().toString(36).toUpperCase();\n  formData.employee_id = `EMP${timestamp.substring(0, 6)}`;\n}\n\n// Calculate monthly components\nconst ctc = parseFloat(formData.ctc_annual);\nconst monthly = ctc / 12;\n\nreturn [{\n  json: {\n    success: true,\n    data: {\n      employee_id: formData.employee_id,\n      full_name: formData.full_name,\n      designation: formData.designation,\n      department: formData.department || 'General',\n      email: formData.email.toLowerCase(),\n      phone: formData.phone || '',\n      date_of_joining: formData.date_of_joining,\n      pan_number: formData.pan_number || '',\n      bank_name: formData.bank_name || '',\n      bank_account: formData.bank_account || '',\n      ifsc_code: formData.ifsc_code || '',\n      ctc_annual: ctc,\n      basic_salary: monthly * 0.4,\n      hra: monthly * 0.2,\n      conveyance: monthly * 0.05,\n      medical: monthly * 0.05,\n      special_allowance: monthly * 0.3,\n      team_id: formData.team_id || '',\n      is_active: true,\n      created_at: new Date().toISOString()\n    }\n  }\n}]"
      },
      "typeVersion": 2
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Insert to Database",
      "type": "n8n-nodes-base.postgres",
      "position": [600, 300],
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "employees",
        "dataMode": "define",
        "columns": {
          "values": {
            "employee_id": "={{ $json.data.employee_id }}",
            "full_name": "={{ $json.data.full_name }}",
            "designation": "={{ $json.data.designation }}",
            "department": "={{ $json.data.department }}",
            "email": "={{ $json.data.email }}",
            "phone": "={{ $json.data.phone }}",
            "date_of_joining": "={{ $json.data.date_of_joining }}",
            "pan_number": "={{ $json.data.pan_number }}",
            "bank_name": "={{ $json.data.bank_name }}",
            "bank_account": "={{ $json.data.bank_account }}",
            "ifsc_code": "={{ $json.data.ifsc_code }}",
            "ctc_annual": "={{ $json.data.ctc_annual }}",
            "basic_salary": "={{ $json.data.basic_salary }}",
            "hra": "={{ $json.data.hra }}",
            "conveyance": "={{ $json.data.conveyance }}",
            "medical": "={{ $json.data.medical }}",
            "special_allowance": "={{ $json.data.special_allowance }}",
            "team_id": "={{ $json.data.team_id }}",
            "is_active": "={{ $json.data.is_active }}"
          }
        }
      },
      "credentials": {
        "postgres": {
          "id": "postgres-local",
          "name": "Local Postgres"
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Send Teams Notification",
      "type": "n8n-nodes-base.microsoftTeams",
      "position": [800, 300],
      "parameters": {
        "resource": "chatMessage",
        "chatId": "={{ $json.body.admin_channel_id || 'general' }}",
        "message": "=🎉 **New Employee Onboarded**\n\n**Name:** {{ $('Validate Form Data').item.json.data.full_name }}\n**Employee ID:** {{ $('Validate Form Data').item.json.data.employee_id }}\n**Designation:** {{ $('Validate Form Data').item.json.data.designation }}\n**Department:** {{ $('Validate Form Data').item.json.data.department }}\n**CTC (Annual):** ₹{{ $('Validate Form Data').item.json.data.ctc_annual.toLocaleString('en-IN') }}\n\nEmployee has been added to the database successfully.",
        "messageType": "html"
      },
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "teams-oauth",
          "name": "Microsoft Teams Account"
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Send Welcome to Employee",
      "type": "n8n-nodes-base.emailSend",
      "position": [800, 500],
      "parameters": {
        "toEmail": "={{ $('Validate Form Data').item.json.data.email }}",
        "subject": "Welcome to ingversions digital - Employee {{ $('Validate Form Data').item.json.data.employee_id }}",
        "html": "=<!DOCTYPE html><html><body style=\"font-family: Arial, sans-serif;\">\n<h2>Welcome to ingversions digital!</h2>\n<p>Hello {{ $('Validate Form Data').item.json.data.full_name }},</p>\n<p>We are pleased to have you join us as <strong>{{ $('Validate Form Data').item.json.data.designation }}</strong>.</p>\n<h3>Your Employee Details:</h3>\n<table border=\"1\" cellpadding=\"8\" style=\"border-collapse: collapse;\">\n<tr><td><strong>Employee ID</strong></td><td>{{ $('Validate Form Data').item.json.data.employee_id }}</td></tr>\n<tr><td><strong>Department</strong></td><td>{{ $('Validate Form Data').item.json.data.department }}</td></tr>\n<tr><td><strong>CTC (Annual)</strong></td><td>₹{{ $('Validate Form Data').item.json.data.ctc_annual.toLocaleString('en-IN') }}</td></tr>\n</table>\n<p>Your monthly payslips will be processed and available on the 25th of each month.</p>\n<p>Best regards,<br>HR Team - ingversions digital</p>\n</body></html>"
      },
      "credentials": {
        "smtp": {
          "id": "smtp-creds",
          "name": "SMTP Credentials"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Form Response Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [600, 100],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Employee added successfully', employee_id: $('Validate Form Data').item.json.data.employee_id }) }}"
      },
      "typeVersion": 1
    },
    {
      "id": "g7h8i9j0-k1l2-m3n4-o5p6-q7r8s9t0u1v2",
      "name": "Form Response Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [500, 500],
      "parameters": {
        "respondWith": "json",
        "statusCode": 400,
        "responseBody": "={{ JSON.stringify($('Validate Form Data').item.json) }}"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Teams Employee Form Trigger": {
      "main": [[{ "node": "Validate Form Data", "type": "main", "index": 0 }]]
    },
    "Validate Form Data": {
      "main": [
        [{ "node": "Insert to Database", "type": "main", "index": 0 }],
        [{ "node": "Form Response Error", "type": "main", "index": 0 }]
      ]
    },
    "Insert to Database": {
      "main": [
        [{ "node": "Send Teams Notification", "type": "main", "index": 0 }],
        [{ "node": "Send Welcome to Employee", "type": "main", "index": 0 }],
        [{ "node": "Form Response Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": ["HR", "Teams", "Employee"]
}